

<div class="jumbotron">
  <h1>聚会集结号</h1>
  <p>用户可以通过会员注册，加入自己感兴趣的群组和主题，包括读书、烹饪、运动、电影、健康等，
  从而结识到志同道合的朋友。此外，网站还组织集体见面或游玩等活动，来扩大会员的社交圈。</p>
  <p>当然，目前的功能还在开发中。感谢你的参与。</p>
  <p><a class="btn btn-primary btn-lg center-block" href="/signup" role="button">注册账号</a></p>
</div>