

<!-- <div class="jumbotron">
  <h1>聚会集结号</h1>
  <p>用户可以通过会员注册，加入自己感兴趣的群组和主题，包括读书、烹饪、运动、电影、健康等，
  从而结识到志同道合的朋友。此外，网站还组织集体见面或游玩等活动，来扩大会员的社交圈。</p>
  <p>当然，目前的功能还在开发中。感谢你的参与。</p>
  <p><a class="btn btn-primary btn-lg center-block" href="/signup" role="button">注册账号</a></p>
</div>
<%= image_tag "p.png" %>
<p>

用户可以通过会员注册，加入自己感兴趣的群组和主题，包括读书、烹饪、运动、电影、健康等，
  从而结识到志同道合的朋友。此外，网站还组织集体见面或游玩等活动，来扩大会员的社交圈。
</p>

<p>
当然，目前的功能还在开发中。感谢你的参与。
</p>
-->

<section>
   <!-- <img src="images/rubber_duck2.jpg"> -->
  <%= image_tag "p.png" %>
  <!-- <span>this is span</span> -->
  <p>It's fun to float.</p>
</section>
<footer> Here is the footer element that runs across the bottom of the
page.</footer>



<style>
  body {
    margin: 0px;
  }

  /*p {
    font: 16px helvetica, arial, sans-serif;
    width: 220px;
    border: 2px solid red;
    background-color: #caebff;
    padding:10px;

    border-left: 10px;

    margin-left: 10px;
  }*/

  body {
    font-family:helvetica, arial, sans-serif;
    font-size:1em;
    margin:0px;
    background-color:#caebff;
  }

 /* p {
    padding: 0px;
    border: solid red 2px;
    float: left;
    width: 100px;
  }

  img {
    float: left;
    margin:0 20px 20px 0;
  }*/

  /*p {
    background-color:#fff;
    width: 400px;
    margin:0 30px;
    padding: 0 20px;

    border: solid red;
    border-width: 0 6px;
  }*/

  section {
    border:1px solid blue;
    margin:0 0 10px 0;
    /*overflow: hidden;*/
    float: left;
    width: 100%;
  }

  /*删除默认的上下外边距*/
  p {
    margin: 0 0 0 0;
  }

  /*为简明起见,省略了字体声明*/
  footer {
    border:1px solid red;
  }

  img {
    float: left;
  }

</style>