
$red: #EB5424;

.topic-detail .panel-heading h1 {
  text-align: left;
}

.topics {
  .panel-body {
    padding: 0 15px;
  }

  .panel-footer {
    padding: 0px 15px;
    .pagination {
      margin: 10px 0;
    }
  }

  .topic {
    min-height: 68px;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px;
    margin: 0 -15px;
    vertical-align: top;
    position: relative;
    &:last-child { border-bottom: 0px; }
    .title {
      font-size: 15px;
      margin-bottom: 0;
      a:link,
      a:visited { color: #222; font-weight: 400; line-height: 30px; }
      // i.fa { color: #999; margin-left: 3px; }
      // i.fa-diamond { color: $red; }
    }
    .info {
      color: #ABA8A6; font-size: 12px; margin-top: 0;
      // a { color: #ABA8A6; }
    }
    .count {
      width: 100px; text-align: right; padding-top: 15px;
      a:link,
      a:hover,
      a:visited {
        line-height: 11px;
        color: #fff;
        min-width: 32px;
        text-align: center;
        border-radius: 80px; padding: 3px 8px 3px 8px;
        display: inline-block;
        text-decoration: none;
      }

      a:link { background: #CFD3E6; }
      a:hover { background: #A9BBDC; }
      a.state-true,
      a:visited { background: #f0f0f0; }
    }
  }
}

#replies {
  margin-bottom: 15px;

  .reply {
    padding: 10px;

    border-bottom: 1px solid #eee;

    .infos {
      min-height: 40px;
    }

    .info {
      .name {
        font-weight: bold;
        font-size: 15px;
      }
      margin-bottom: 6px;
    }
  }
}
