<!DOCTYPE html>
<html lang="en" id="ocam-app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" name="viewport"/>
  <title>OCAM资产云管理平台</title>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="/global/wechat/stylesheets/weui.min.css" rel="stylesheet">

</head>
<body>
<%= yield %>
<%= yield(:javascript) %>
</body>
</html>